/**
 * modal
 */
.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 500;

  &__container {
    width: 960px;
    margin: 0 auto;
  }

  &__card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 400px;
    padding: 20px;
    background: white;
    border-radius: 6px;
    span {
      display: flex;
      width: 20px;
      height: 20px;
      margin-left: auto;
    }
  }
}