/**
 * swiper
 */

.slide {
  position: relative;
  width: 100%;
  height: 600px;
  margin: 0 auto 60px;

  &__img {
    width: 100%;
    height: 100%;
  }

  &__pagination {
    margin-bottom: 20px;
  }
}

.hooper {
  height: 100%;
}