@charset "UTF-8";
/**
 * header
 */
.header {
  width: 100%;
  height: 56px;
  background: red;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 56px;
  width: 90%;
  margin: 0 auto;
}

.header__title {
  font-size: 24px;
  color: white;
}

.header__menu {
  position: relative;
  width: 32px;
  height: 20px;
}

/**
 * メニューボタン
 */
.top {
  position: absolute;
  top: 0;
  width: 32px;
  height: 2px;
  background: white;
  transition: .25s;
}

.middle {
  position: absolute;
  top: 50%;
  width: 32px;
  height: 2px;
  background: white;
  transition: .25s;
}

.bottom {
  position: absolute;
  top: 100%;
  width: 32px;
  height: 2px;
  background: white;
  transition: .25s;
}

.open .top {
  position: absolute;
  top: 50%;
  transform: rotate(-135deg);
  transition: .25s;
}

.open .middle {
  display: none;
}

.open .bottom {
  position: absolute;
  top: 50%;
  transform: rotate(135deg);
  transition: .25s;
}
