/**
 * home
 */

.home {
  padding-top: 20px;
  &__container {
    width: 960px;
    height: 100%;
    margin: 0 auto;
    padding: 80px 0;
  }

  &__menu-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
  }
}

.card {
  width: 300px;
  height: 400px;
  background: white;
  border-radius: 6px;
  &:not(:nth-child(3n)) {
    margin-right: 20px;
  }
  &:nth-child(n + 4) {
    margin-top: 20px;
  }

  &__img {
    width: 100%;
    height: 200px;
    background: gray;
    border-radius: 6px 6px 0 0;
    img {
      width: 100%;
      height: 100%;
      border-radius: 6px 6px 0 0;
    }
  }

  &__wrapper {
    padding: 20px;
  }

  &__title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  &__genre {
    display: inline-block;
    font-size: 14px;
    padding: 4px 20px;
    background: lime;
    border-radius: 30px;
  }

  &__price {
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    margin: 10px 0 20px;
  }

  &__order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      margin-bottom: 6px;
    }
  }

  &__cart-add {
    height: 50px;
    width: 160px;
    border: none;
    background: red;
    color: white;
  }

  &__quantity {
    display: flex;
    flex-direction: column;
  }

  &__icon {
    margin-right: 6px;
  }
}

select {
  width: 80px;
  height: 30px;
  text-align: center;
}