/**
 * menuDetails
 */
.details {
  padding-top: 60px;
  color: white;
}

.details__container {
  display: flex;
  width: 960px;
  margin: 0 auto;
  padding-top: 240px;
}

.details__img {
  width: 300px;
  height: 300px;
  margin-right: 72px;
}

.details__img img {
  width: 100%;
  height: 100%;
}

.details__wrapper {
  width: 600px;
}

.details__title {
  font-size: 36px;
  margin-bottom: 50px;
}

.details__description {
  margin-bottom: 32px;
}

.details__price {
  font-size: 20px;
  margin-bottom: 30px;
}

.details__quantity {
  margin-right: 20px;
}

.details__select {
  width: 100px;
  height: 34px;
  text-align: center;
  margin-right: 16px;
}

.details__cart-add {
  width: 160px;
  height: 34px;
  background: red;
  color: white;
  border: none;
}
