/**
 * menu
 */

.menu {
  padding-top: 100px;

  &__container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    margin: 0 auto;
  }

  &__card {
    position: relative;
    width: 300px;
    height: 340px;
    background: white;
    border-radius: 6px;
    &:not(:nth-child(3n)) {
      margin-right: 20px;
    }
    &:nth-child(n + 4) {
      margin-top: 20px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    background: gray;
    border-radius: 6px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 6px;
    }
  }

  &__content {
    position: absolute;
    width: 100%;
    height: 0;
    background: white;
    border-radius: 6px;
    transition: all 0.1s;
  }

  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__title {
    text-align: center;
    font-size: 24px;
  }

  &__price {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
  }
}

.up {
  display: block;
  height: 100%;
  transform: translateY(-100%);
  transition: all 0.1s;
}
