/**
 * Order
 */

.order {
  padding-top: 120px;

  &__container {
    width: 600px;
    margin: 0 auto;
    h3 {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  &__info {
    width: 100%;
    min-height: 140px;
    padding: 20px;
    background: white;
    font-size: 16px;
  }

  &__user-text {
    display: flex;
    padding-left: 20px;
    margin-bottom: 40px;
    font-weight: bold;
  }

  &__user-phone {
    margin-left: 100px;
  }

  &__menu {
    display: flex;
    width: 100%;
    height: 100px;
    padding: 10px;
  }

  &__image {
    width: 20%;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
  }

  &__menu-text {
    width: 40%;
  }

  &__menu-name {
    margin-bottom: 20px;
  }

  &__menu-price {
    font-size: 14px;
  }

  &__quantity {
    display: flex;
    align-items: center;
    width: 80px;
    select {
      width: 100%;
      height: 40px;
      text-align: center;
    }
  }

  &__delete {
    display: flex;
    align-items: center;
    button {
      width: 30px;
      height: 30px;
      border: none;
      color: white;
      background: red;
      font-size: 16px;
      border-radius: 50%;
    }
  }

  &__total {
    display: flex;
    justify-content: right;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-right: 80px;
    border-top: 1px solid black;
    p {
      font-size: 20px;
    }
    p:first-child {
      margin-right: 40px;
    }
  }

  &__decision {
    width: 100%;
    height: 60px;
    border: none;
    color: white;
    background: limegreen;
    font-size: 16px;
  }
}

